body {
    background-image:url('/res/bg.png');
}
header, footer {
    display:flex;
}
footer {
    justify-content:space-between;
    padding:4px;
}
#weatherContainer {
    display:flex;
    align-self:center;
}
header a, header a img {
    height:inherit;
}