body {
    background-image:url('/res/bg.png');
}
header, footer {
    display:inline-flex;
    width:100%;
}
footer {
    justify-content:space-between;
    padding:4px;
}
header {
    height:9vh;
}
#weatherContainer {
    display:inline-flex;
    align-self:center;
}
header a, header a img {
    height:inherit;
    display:inherit;
}
#hbtns {
    height:inherit;
    display:inherit;
}
#btns {
    display:inherit;
}
.dropdown {
    display:none;
}